.slider       { background:white; display:flex; padding:15px 20px; align-items: center; width:600px; box-sizing: border-box; position:relative;
  $slide-blue:#029ADB;
  .totals     { background:#EBEBEB; border-radius:50%; width:70px; height:70px; text-align:center; color:$slide-blue; font-size:42px; font-weight:$bold; line-height:72px;}
  .tracks     { height: 10px; width: 464px; position:relative; margin-left:20px;
    .track,
    .track-bg { height:100%; position:absolute;  }
    .track    { background: $slide-blue; }
    .track-bg { background: #EBEBEB; width:100%;  }
  }
  .dragger    { position: absolute; top:14px;
    &:before  { content:""; width:26px; height:27px; background: $slide-blue; position: absolute; }
  }
}
