.slider
  .totals 8
  .drag-holder
    .tracks
      .track-bg
      .track
      .dragger
        .hit-area
          .handle
  .doubler
    .txt Need More?
    .btns
      .no#nope-btn Nope
      .btn#doubler-btn Yes
