.specs-wrapper
  .spec-selector 
    .info
      .meta 
        .title Instance Scale
        .host Digital Ocean - Select a Scale Below
      .vals
        .ram 
        .cpu 
        .disk 
    .specs
      .key
        .ram-key RAM
        .cpu-key CPU
        .disk-key DISK
        if isAWS
          .ebs-key EBS
