.specs-wrapper
  .instructions 
    .main To scale this server, choose one of the following configurations:
    .provider  Digital Ocean Server Info
  .spec-selector 
    .specs
      .key(style="display:none")
        .ram-key RAM
        .cpu-key CPU
        .disk-key DISK
        if isAWS
          .ebs-key EBS
  .info
    .meta 
      .title Server Specs
    .vals
      .ram
        .val
        .metric
      .cpu
        .val
        .metric
      .disk 
        .val
        .metric
