@import '../lib/assets/core-styles/styles.scss';

body{ margin:0; padding:30px 10px; }
.holder{ position:absolute; top:20px; left:20px; background:$pale-sky2; border: solid 1px white; margin-top:30px;}
